<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create New Posts</title>
</head>
<body>
    <form method="post" action="/posts" >
        <input placeholder="Enter User name" name="username">
        <br>
        <textarea placeholder="Write Your Post" name="content"></textarea>
        <br>
        <button>Submit Post</button>
    </form>
</body>
</html>