<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3>
       In this we convert the string:=  <%="Ritesh Maurya".toUpperCase() %>
    </h3>
    <h3>
        <%= ["hello","namaste","bonjour"][2] %>
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
         Sunt animi ducimus libero delectus! Doloremque similique corrupti <br>
          nostrum officiis deserunt fugit facere aspernatur obcaecati voluptas necessitatibus, <br>
           eveniet recusandae earum voluptates optio ullam illo quasi atque error eos suscipit eius, <br>
           incidunt ab?Commodi consequatur unde minima veritatis dicta tempore assumenda vitae nemo.
    </p>
    <button>Click Me!</button>
    <%- include("includes/footer.ejs"); %>
</body>
</html>