<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <style>
        img {
            height:300px;
            width:300px;
            border-radius:10px;
        }
        body{
            background:linear-gradient(to right, red, blue,green);
        }
    </style>
</head>