*{
    background: linear-gradient(to right,#9a85a7,#69a299,#4d555cf9);
}
.First
{
    font-family: 'Courier New', Courier, monospace;
}
.Second
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Third
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Fourth
{
    font-family: 'Times New Roman', Times, serif;
}